<!--<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>-->
<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  is a 
  <a href="https://www.railstutorial.org/book/">book</a>
  and screencast series to teach web development with Ruby on Rails. This is the sample application for the tutorial.
</p>

